@using Apolo.Web.Util
@using Apolo.Core.Model
@using Apolo.Core.Model.Security
@{
    User patient = Session[Constants.SESSION_PATIENT] as User;
}
<!-- Menu -->
<div class="menu">
    <ul class="list">
        <li class="header">MENÚ PRINCIPAL</li>

        <li class="@HttpUtil.OutputStringIfUrlMatches(HttpContext.Current, @"\/Therapist\/Home$", "active")">
            <a href="@Url.Action("Index", "Home", new { area = "Therapist" })">
                <i class="material-icons">home</i>
                <span>Inicio</span>
            </a>
        </li>

        <li class="@HttpUtil.OutputStringIfUrlMatches(HttpContext.Current, @"\/Therapist\/Patient$", "active")">
            <a href="@Url.Action("Index", "Patient", new { area = "Therapist" })">
                <i class="material-icons">accessibility</i>
                <span>Pacientes</span>
            </a>
        </li>

        @if (patient != null)
        {
        <li class="@HttpUtil.OutputStringIfUrlMatches(HttpContext.Current, @"\/Therapist\/Patient\/Summary$", "active")">
            <a href="@Url.Action("Summary", "Patient", new { area = "Therapist" })">
                <i class="material-icons">recent_actors</i>
                <span>Resumen</span>
            </a>
        </li>
        }

        @if (patient != null)
        {
            <li class="@HttpUtil.OutputStringIfUrlMatches(HttpContext.Current, @"\/Therapist\/Routine$", "active")">
                <a href="@Url.Action("Index", "Routine", new { area = "Therapist" })">
                    <i class="material-icons">apps</i>
                    <span>Rutinas</span>
                </a>
            </li>
        }
    </ul>
</div>
<!-- #Menu -->