@using Apolo.Core.Model.Treatment.Blueprints
@using Apolo.Core.Model
@{
    ViewBag.Title = "Plantillas de Rutina";
}

@section Styles {
    @Styles.Render("~/Assets/plugins/datatables/css/datatables.min.css")
}

<div class="card" style="height: 80vh;">
    <div class="card body" style="height: 100%;">
        <div class="dataTables_wrapper">
            <table id="patients-table" class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Duración en Semanas</th>
                        <th>Categoría</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var routineBlueprint in (List<RoutineBlueprint>)ViewBag.RoutineBlueprints)
                    {
                        <tr class="routineBlueprintRowCl">
                            <input type="hidden" value="@routineBlueprint.ID" class="routineBlueprintIdCl" />
                            <td>@routineBlueprint.ID</td>
                            <td>@routineBlueprint.Name</td>
                            <td>@routineBlueprint.DurationInWeeks</td>
                            <td>@routineBlueprint.Category</td>
                            <td style="text-align: center; width:10%;">
                                <button type="button" class="btn bg-light-blue waves-effect selectCl">Seleccionar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Assets/plugins/datatables/js/datatables.min.js")

    <script>
        $(function () {
            $(".selectCl").click(function () {
                var rowEl = $(this).closest(".routineBlueprintRowCl");
                var id = rowEl.find(".routineBlueprintIdCl").val();
                window.location.href = "@Url.Action("SelectRoutineBlueprint", "RoutineBlueprint", new { area = Constants.Areas.THERAPIST })" + "?routineBlueprintId=" + id;
            });

            $("#patients-table").DataTable({
                "scrollY": "56vh",
                "scrollCollapse": false,
                "paging": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "columnDefs": [
                    {
                        "targets": [4],
                        "orderable": false
                    }
                ]
            });
        });
    </script>
}