@using Apolo.Core.Model.Security
@using Apolo.Core.Model
@{
    ViewBag.Title = "Pacientes";
}

@section Styles {
    @Styles.Render("~/Assets/plugins/datatables/css/datatables.min.css")
}

<div class="block-header">
    <h2>@(ViewBag.Title?.ToString()?.ToUpper())</h2>
</div>

<div class="card" style="height: 80vh;">
    <div class="card body" style="height: 100%;">
        <div class="dataTables_wrapper">
            <table id="patients-table" class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Sexo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var patient in (List<User>)ViewBag.Patients)
                    {
                        <tr class="patientRowCl">
                            <input type="hidden" value="@patient.ID" class="patientIDCl" />
                            <td>@patient.ID</td>
                            <td>@patient.FirstName</td>
                            <td>@patient.LastName</td>
                            <td>@(DateTime.Now.Year - patient.Birthday?.Year)</td>
                            <td>@patient.Gender</td>
                            <td style="text-align: center; width:10%;">
                                <button type="button" class="btn bg-light-blue waves-effect selectCl">Seleccionar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Assets/plugins/datatables/js/datatables.min.js")

    <script>
        $(function () {
            $(".selectCl").click(function () {
                var rowEl = $(this).closest(".patientRowCl");
                var id = rowEl.find(".patientIDCl").val();
                window.location.href = "@Url.Action("SelectPatient", "Patient", new { area = Constants.Areas.THERAPIST })" + "?patientID=" + id;
            });

            $("#patients-table").DataTable({
                "scrollY": "56vh",
                "scrollCollapse": false,
                "paging": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "columnDefs": [
                    {
                        "targets": [5],
                        "orderable": false
                    }
                ]
            });
        });
    </script>
}