
@using Apolo.Core.Model
@using Apolo.Core.Model.Security

@{
    User patient = Session[Constants.SESSION_PATIENT] as User;
    ViewBag.Title = "Resumen";
}

@section Styles {
    @Styles.Render("~/Assets/plugins/morris/css/morris.css")
}

<div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4">
        <div class="card">
            <div class="header">
                <h2>Información Personal</h2>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-4">
                        <img style="width: 100%; height: 100%;" src="@Url.Action("UserAvatar", "Util", new { username = patient?.Username, area = "" })"/>
                    </div>
                    <div class="col-md-8">
                        <p>@patient.FirstName @patient.LastName</p>
                        <p>@(DateTime.Now.Year - @patient.Birthday?.Year) años</p>
                        <p>@patient.Condition</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Progreso en Juegos</h2>
            </div>
            <div class="body">
                <div id="game-progress-chart" class="graph" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Progreso en Velocidad</h2>
            </div>
            <div class="body">
                <div id="speed-progress-chart" class="graph" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Estabilidad</h2>
            </div>
            <div class="body">
                <div id="stability-chart" class="graph" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/Assets/plugins/raphael/js/raphael.min.js")
    @Scripts.Render("~/Assets/plugins/morris/js/morris.js")

    <script>
        $(function () {
            Morris.Bar({
                element: 'game-progress-chart',
                data: [
                    { y: '2017-01', a: 50, b: 40, c: 40 },
                    { y: '2017-02', a: 75, b: 65, c: 55 },
                    { y: '2017-03', a: 100, b: 90, c: 80 }
                ],
                xkey: 'y',
                ykeys: ['a', 'b', 'c'],
                labels: ['Tetris', 'Pong', 'Invasores']
            });
        });

        Morris.Line({
            element: 'speed-progress-chart',
            data: [
                { y: '2017-01', a: 30, b: 40 },
                { y: '2017-02', a: 70, b: 50 },
                { y: '2017-03', a: 75, b: 77 }
            ],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['Eje X', 'Eje Y']
        });

        Morris.Donut({
            element: 'stability-chart',
            data: [
                { label: "Eje X", value: 65 },
                { label: "Eje Y", value: 35 }
            ]
        });
    </script>
}