@using Apolo.Core.Model.Security
@using Apolo.Core.Model
@using Apolo.Core.Model.Treatment.Blueprints
@{
    ViewBag.Title = "Crear Rutina";
    User patient = Session[Constants.SESSION_PATIENT] as User;
    User therapist = Session[Constants.SESSION_USER] as User;
}

@section Styles {
    @Styles.Render("~/Assets/css/form")
    @Styles.Render("~/Assets/plugins/datatables/css/datatables.min.css")
    @Styles.Render("~/Assets/plugins/sweetalert/css/sweetalert.css")
    <style>
        .content.clearfix {
            height: 80%;
        }
    </style>
}

<div class="block-header">
    <h2><small>@patient.FirstName @patient.LastName</small></h2>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <form method="POST" id="routineCreationForm" style="height: 100%;">
                    <input type="hidden" name="patientID" value="@patient.ID"/>
                    <input type="hidden" name="therapistID" value="@therapist.ID" />
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <label class="form-label">Objetivo</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control objectiveCl" name="goal" required autofocus placeholder="Ingrese el objetivo de la rutina">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <label class="form-label">Detalles</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea rows="4" class="form-control no-resize detailsCl" name="details" placeholder="Ingrese detalles adicionales de la rutina"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <label class="form-label">Fecha de Inicio</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control datepicker startDateCl" name="startDate" required placeholder="Seleccione la fecha de inicio">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <label class="form-label">Modelo de Rutina</label>
                            <div class="form-group">
                                <div class="dataTables_wrapper">
                                    <table id="routineBlueprintTable" class="table table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Categoría</th>
                                                <th>Duración (Semanas)</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var routineBlueprint in (List<RoutineBlueprint>)ViewBag.RoutineBlueprints)
                                            {
                                                <tr>
                                                    <td style="vertical-align:middle;">@routineBlueprint.ID</td>
                                                    <td style="vertical-align:middle;">@routineBlueprint.Name</td>
                                                    <td style="vertical-align:middle;">@routineBlueprint.Category</td>
                                                    <td style="vertical-align:middle;">@routineBlueprint.DurationInWeeks</td>
                                                    <td style="vertical-align:middle;">
                                                        <input name="routineBlueprintID" type="checkbox" id="routineBlueprintID-@routineBlueprint.ID" class="filled-in chk-col-light-blue checkboxCl" value="@routineBlueprint.ID">
                                                        <label for="routineBlueprintID-@routineBlueprint.ID"></label>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <button type="submit" style="float: right;" class="btn btn-primary m-t-15 waves-effect">Crear Rutina</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/Assets/plugins/sweetalert/js/sweetalert.min.js")
    @Scripts.Render("~/Assets/plugins/jquery-steps/js/jquery.steps.min.js")
    @Scripts.Render("~/Assets/plugins/datatables/js/datatables.min.js")

    <script>
        $(function () {
            $(".checkboxCl").change(function () {
                if (this.checked) {
                    $(".checkboxCl").not(this).prop("checked", false);
                }
            });

            //Advanced form with validation
            var form = $('#routineCreationForm');

            form.validate({
                highlight: function (input) {
                    $(input).parents('.form-line').addClass('error');
                },
                unhighlight: function (input) {
                    $(input).parents('.form-line').removeClass('error');
                },
                errorPlacement: function (error, element) {
                    $(element).parents('.form-group').append(error);
                }
            });

            form.submit(function () {
                if (!$("input[name='routineBlueprintID']:checked").val()) {
                    swal(
                        'Error',
                        'Seleccione un modelo de rutina',
                        'error'
                    );
                    return false;
                }

                return form.valid();
            });

            $("#routineBlueprintTable").DataTable({
                "scrollY": "56vh",
                "scrollCollapse": true,
                "paging": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "columnDefs": [
                    {
                        "targets": [4],
                        "orderable": false
                    }
                ]
            });

            $(".datepicker").bootstrapMaterialDatePicker({
                clearText: 'Borrar',
                nowText: 'Hoy',
                cancelText: 'Cancelar',
                format: 'DD/MM/YYYY',
                lang: 'es',
                minDate: moment(),
                clearButton: true,
                weekStart: 1,
                time: false
            });

            $(".startDateCl").val(moment().format("DD/MM/YYYY"));
        });
    </script>
}