@using Apolo.Core.Model.Security
@using Apolo.Core.Model
@using Apolo.Core.Model.Treatment
@{
    ViewBag.Title = "Rutinas";
}

@section Styles {
    @Styles.Render("~/Assets/plugins/datatables/css/datatables.min.css")
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
                <button type="button" class="btn bg-light-blue waves-effect newRoutineCl">Crear Nueva Rutina</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card" style="height: 80vh;">
            <div class="card body" style="height: 100%;">
                <div class="dataTables_wrapper">
                    <table id="routines-table" class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Terapeuta</th>
                                <th>Duración (Semanas)</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Avance Días</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var routine in (List<Routine>)ViewBag.Routines)
                            {
                                <tr class="routineRowCl">
                                    <input type="hidden" value="@routine.ID" class="routineIDCl" />
                                    <td style="vertical-align:middle;">@routine.ID</td>
                                    <td style="vertical-align:middle;">@routine.Therapist.FirstName @routine.Therapist.LastName</td>
                                    <td style="vertical-align:middle;">@routine.DurationInWeeks</td>
                                    <td style="vertical-align:middle;">@string.Format("{0:dd/MM/yyyy}", routine.StartDate)</td>
                                    <td style="vertical-align:middle;">@string.Format("{0:dd/MM/yyyy}", routine.StartDate.AddDays(routine.DurationInWeeks * 7))</td>
                                    <td style="vertical-align:middle;">
                                        <div class="progress" style="margin-bottom: 0;">
                                            @if (routine.EllapsedPercentage >= 100)
                                            {
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                </div>
                                            }
                                            else if (routine.EllapsedPercentage > 0)
                                            {
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="@(routine.EllapsedPercentage)" aria-valuemin="0" aria-valuemax="100" style="width: @(routine.EllapsedPercentage)%">
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                </div>
                                            }
                                        </div>
                                    </td>
                                    <td style="text-align: center; width:10%;">
                                        <button type="button" class="btn bg-light-blue waves-effect selectCl">Seleccionar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Assets/plugins/datatables/js/datatables.min.js")

    <script>
        $(function () {
            $(".newRoutineCl").click(function () {
                window.location.href = "@Url.Action("Create", "Routine", new { area = Constants.Areas.THERAPIST })";
            });
            $(".selectCl").click(function () {
                var rowEl = $(this).closest(".routineRowCl");
                var id = rowEl.find(".routineIDCl").val();
                window.location.href = "@Url.Action("Edit", "Routine", new { area = Constants.Areas.THERAPIST })?routineId=" + id;
            });

            $("#routines-table").DataTable({
                "scrollY": "56vh",
                "scrollCollapse": false,
                "paging": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "columnDefs": [
                    {
                        "targets": [6],
                        "orderable": false
                    }
                ]
            });
        });
    </script>
}